# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [37]:
# Первый вариант решения
# Используем python 3 и цикл for
def function_1_1_1(my_list, n):
    res = 0
    for x in my_list:
        if x <= n:
            res += x
    return res

In [38]:
# Второй вариант решения
# Используем python 3 и list comprehension
def function_1_1_2(my_list, n):
    res = sum([x for x in my_list if x <= n])
    return res

In [39]:
# Третий вариант решения
# Используем python 3 и лямбда-функцию
def function_1_1_3(my_list, n):
    res = sum(filter(lambda x: x <= n, my_list))
    return res

In [40]:
function_1_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31 and function_1_1_2([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31 and function_1_1_3([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [41]:
function_1_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20 and function_1_1_2([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20 and function_1_1_3([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [42]:
function_1_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12 and function_1_1_2([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12 and function_1_1_3([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [44]:
function_1_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18 and function_1_1_2([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18 and function_1_1_3([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [45]:
function_1_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9 and function_1_1_2([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9 and function_1_1_3([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [46]:
function_1_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0 and function_1_1_2([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0 and function_1_1_3([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [ ]:
def function_1_2(my_list, dept):
    res = sum(filter(lambda x: x <= n, my_list))
    return

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

In [ ]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь функцией reduce или циклами

In [66]:
# Первый вариант решения
# Используем python 3 и цикл for
def function_2_1_1(n):
    f = 1
    for x in range(1, n+1):
        f *= x
    return f

In [67]:
# Второй вариант решения
# Используем python 3 и reduce
from functools import reduce
def function_2_1_2(n):
    f = reduce(lambda x,y: x*y, range(1, n+1))
    return f

In [68]:
function_2_1_1(3) == 6 and function_2_1_2(3) == 6

True

In [69]:
function_2_1_1(5) == 120 and function_2_1_2(5) == 120

True

In [70]:
function_2_1_1(9) == 362880 and function_2_1_2(9) == 362880

True

In [71]:
function_2_1_1(13) == 6227020800 and function_2_1_2(13) == 6227020800

True

In [72]:
import math

for n in range(1, 21):
    print (math.factorial(n) == function_2_1_1(n) and math.factorial(n) == function_2_1_2(n))

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [18]:
def srav(fst, scd):
    if fst < scd:
        return 'First'
    elif fst > scd:
        return 'Second'
    else:
        return 'Equal'


def function_2_2(list1, list2):
    a = srav(sum(list1)/len(list1), sum(list2)/len(list2))
    b = srav(min(list1), min(list2))
    c = srav(max(list1), max(list2))
    return a, b, c

In [19]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [20]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [21]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [22]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [1]:
import heapq
def function_3_1(my_list, n, k):
    res = sum(heapq.nlargest(k, filter(lambda x: x <= n, my_list)))
    return res

In [2]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [3]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [4]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [5]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [6]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [7]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [8]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [9]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [10]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [11]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [12]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [14]:
import math
def function_3_2(n):
    
    return

In [15]:
function_3_2(3) == [2, 3]

False

In [16]:
function_3_2(10) == [2, 3, 5, 7]

False

In [17]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

False

# Опциональная часть (выполнять по желанию, если интересно)

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [ ]:
def function_4_1(my_set):
    # допишите код
    return

In [ ]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [ ]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

In [ ]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

In [ ]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [ ]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in xrange(2, n))

def function_4_2(n):
    return [
        # допишите код здесь
    ]

In [ ]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [ ]:
check_4_2(10, function_4_2(10))

In [ ]:
check_4_2(11690, function_4_2(11690))

In [ ]:
check_4_2(254242, function_4_2(254242))